<div class="container-fluid login-box">
  <div class="row">
    <div class="col">
      <img class="login-icon" src="../../assets/user-lock-solid.svg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="">Acesso restrito</h1>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <input name="email" type="email" placeholder="Email address" required autofocus
          formControlName="email">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input name="password" type="password" placeholder="Password" required formControlName="password">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <small>Desenvolvido por JRui Pinto &copy; 2018-2019</small>
    </div>
  </div>
</div>
