<div class="clr-row">
  <div class="clr-col-lg-4">
    <h5>Encomendas</h5>
    <p>👷 Em construção</p>
    <div class="card" *ngFor="let encomenda of encomendas$ | async">
      <div class="card-block">
        <!--
        <div class="progress success top">
          <progress value="100" max="100"></progress>
        </div>
        -->
        <div class="card-text">
          <p>3 x Modulo Iphone 6 Preto</p>
          <button class="btn btn-sm btn-link">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm">Comprado</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            + Opções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem>Esgotado</button>
            <button type="button" clrDropdownItem>Chega em 30 dias</button>
            <button type="button" clrDropdownItem>Anular</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4">
    <h5>
      Orçamentos
      <span *ngIf="orcamentos$ | async as orcamentos">
        <span class="badge badge-light-blue" *ngIf="orcamentos.length > 0">{{orcamentos.length}}</span>
      </span>
    </h5>
    <div *ngIf="orcamentos$ | async as orcamentos">
      <div *ngIf="orcamentos.length === 0">💪 Não há mais orçamentos!</div>
    </div>
    <div class="card" *ngFor="let orcamento of orcamentos$ | async">
      <div class="card-block">
        <div class="card-text">
          <span class="label label-blue">{{orcamento.estado}} -> {{orcamento.updatedAt  | date:'mediumDate'}}</span>
          <p>{{orcamento.cliente_user_name}} | {{orcamento.cliente_user_contacto}}</p>
          <p>{{orcamento.preco}}€ | {{orcamento.relatorio_cliente | slice:0:29}}
            <span *ngIf="orcamento.relatorio_cliente.length > 30">...</span>
          </p>
          <button class="btn btn-sm btn-link" (click)="openAssistencia(orcamento.id)">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm" (click)="saveAssist('orçamento aprovado', orcamento)">Aceite</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            + Opções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem
              (click)="saveAssist('orçamento recusado', orcamento)">Recusado</button>
            <button type="button" clrDropdownItem (click)="saveAssist('cliente adiou orç.', orcamento)">Cliente adiou
              resposta</button>
            <button type="button" clrDropdownItem (click)="saveAssist('não atendeu p/ orç.', orcamento)">Não
              atendeu</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4">
    <h5>
      P. Contact. Cliente
      <span *ngIf="pedidosContactoCliente$ | async as pedidosContactoCliente">
        <span class="badge badge-light-blue" *ngIf="pedidosContactoCliente.length > 0">{{pedidosContactoCliente.length}}</span>
      </span>
    </h5>
    <div *ngIf="pedidosContactoCliente$ | async as pedidosContactoCliente">
      <div *ngIf="pedidosContactoCliente.length === 0">💪 Não há mais pedidos de contacto!</div>
    </div>
    <div class="card" *ngFor="let pedidoContactoCliente of pedidosContactoCliente$ | async">
      <div class="card-block">
        <div class="card-text">
          <span class="label label-blue">{{pedidoContactoCliente.estado}} ->
            {{pedidoContactoCliente.updatedAt | date:'mediumDate'}}</span>
          <p>{{pedidoContactoCliente.cliente_user_name}} | {{pedidoContactoCliente.cliente_user_contacto}}</p>
          <p>{{pedidoContactoCliente.relatorio_cliente | slice:0:29}}
            <span *ngIf="pedidoContactoCliente.relatorio_cliente.length > 30">...</span>
          </p>
          <button class="btn btn-sm btn-link" (click)="openAssistencia(pedidoContactoCliente.id)">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm"
          (click)="saveAssist('contactado', pedidoContactoCliente)">Sucesso</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            + Opções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem
              (click)="saveAssist('não atendeu p/ cont.', pedidoContactoCliente)">Não atendeu</button>
            <button type="button" clrDropdownItem
              (click)="saveAssist('cliente adiou resp.', pedidoContactoCliente)">Cliente adiou resposta</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>
</div>