<div class="clr-row">
  <div class="clr-col-lg-4">
    <h5>Encomendas</h5>
    <div class="card" *ngFor="let encomenda of encomendas">
      <div class="card-block">
        <!--
        <div class="progress success top">
          <progress value="100" max="100"></progress>
        </div>
        -->
        <div class="card-text">
          <p>3 x Modulo Iphone 6 Preto</p>
          <button class="btn btn-sm btn-link">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm">Comprado</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            mais acções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem>Esgotado</button>
            <button type="button" clrDropdownItem>Chega em 30 dias</button>
            <button type="button" clrDropdownItem>Anular</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4">
    <h5>Orçamentos</h5>
    <div class="card" *ngFor="let orcamento of orcamentos">
      <div class="card-block">
        <div class="card-text">
            <p>{{orcamento.cliente_user_name}} | {{orcamento.cliente_user_contacto}} | {{orcamento.preco}}€</p>
            <button class="btn btn-sm btn-link" (click)="openAssistencia(orcamento.id)">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm">Aceite</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            mais acções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem>Recusado</button>
            <button type="button" clrDropdownItem>Cliente adiou resposta</button>
            <button type="button" clrDropdownItem>Não atendeu</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4">
    <h5>P. Contact. Cliente</h5>
    <div class="card" *ngFor="let pedidoContactoCliente of pedidosContactoCliente">
      <div class="card-block">
        <div class="card-text">
            <p>{{pedidoContactoCliente.cliente_user_name}} | {{pedidoContactoCliente.cliente_user_contacto}} | {{pedidoContactoCliente.relatorio_cliente}}</p>
            <button class="btn btn-sm btn-link" (click)="openAssistencia(pedidoContactoCliente.id)">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm">Sucesso</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            mais acções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem>Não atendeu</button>
            <button type="button" clrDropdownItem>Cliente adiou resposta</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>
</div>
