<clr-datagrid>
  <clr-dg-column>Assunto</clr-dg-column>
  <clr-dg-column>Estado</clr-dg-column>
  <clr-dg-column>Enviada</clr-dg-column>
  <clr-dg-column>Entregue</clr-dg-column>
  <clr-dg-row *ngFor="let message of assistencia?.messages">
    <clr-dg-cell>{{ message.subject }}</clr-dg-cell>
    <clr-dg-cell>{{ message.state }}</clr-dg-cell>
    <clr-dg-cell>{{ message.createdAt | slice: 0:10 }}</clr-dg-cell>
    <clr-dg-cell>{{ message?.deliveredAt | slice: 0:10 }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{ assistencia.messages.length }} mensagens</clr-dg-footer>
</clr-datagrid>
