<div *ngIf="!assistenciaOpen">
  <span class="spinner spinner-inline">
  </span>
  <span>
    A carregar dados...
  </span>
</div>

<div *ngIf="assistenciaOpen as assistencia">
  <button type="button" class="btn btn-link btn-icon" style="margin:0; padding:0" (click)="navigateBack()">
    <clr-icon class="is-solid" size="36" shape="arrow" style="transform: rotate(270deg);"></clr-icon>
  </button>

  <h3>Assistência {{assistencia.id}}</h3>

  <div class="separate">
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Estado:
      </div>
      <div class="clr-col">
        {{assistencia.estado}}
      </div>
    </div>
  </div>
  <div class="separate">
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Cliente:
      </div>
      <div class="clr-col">
        {{assistencia.cliente_user_name}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Técnico:
      </div>
      <div class="clr-col">
        {{assistencia.registo_cronologico[assistencia.registo_cronologico.length-1].tecnico}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Equipamento:
      </div>
      <div class="clr-col">
        {{assistencia.categoria}}
        {{assistencia.marca}}
        {{assistencia.modelo}}
        {{assistencia.cor}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Serial:
      </div>
      <div class="clr-col">
        {{assistencia.serial}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Problema:
      </div>
      <div class="clr-col">
        {{assistencia.problema}}
      </div>
    </div>
  </div>
  <div class="separate">
    <div class="clr-row">
      <div class="clr-col">
        <div class="clr-row">
          <div class="clr-col">
            <button class="btn btn-link" (click)="modal = true">Adicionar material</button>
          </div>
        </div>
        <div class="clr-row" *ngIf="material">
          <div class="clr-col">
            <table class="table">
              <thead>
                <tr>
                  <th class="left">Qty</th>
                  <th>Descrição</th>
                  <th>Local</th>
                  <th class="left">Custo p/ unidade</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let artigo of material">
                  <td class="left">{{artigo.qty}}</td>
                  <td>{{artigo.descricao}} {{artigo.marca}} {{artigo.modelo}}</td>
                  <td>{{artigo.localizacao}}</td>
                  <td class="left">{{artigo.preco | currency: 'EUR'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separate">
    <div class="clr-row">
      <div class="clr-col-md-6">
        <div class="clr-row">
          <div class="clr-col fontheavy">
            Informação técnica interna:
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col">
            <!--
            <textarea name="relatorio_interno" id="relatorio_interno" [attr.readonly]="assistencia.estado === 'contacto pendente'
                || assistencia.estado === 'não atendeu p/ cont.'
                || assistencia.estado === 'cliente adiou resp.'
                || assistencia.estado === 'orçamento pendente'
                || assistencia.estado === 'não atendeu p/ orç.'
                || assistencia.estado === 'cliente adiou orç.'
                || assistencia.estado === 'aguarda material'
                || assistencia.estado === 'concluído'
                || assistencia.estado === 'entregue'" [(ngModel)]='assistencia.relatorio_interno'></textarea>
              -->
            <textarea class="clr-textarea wd-100" name="relatorio_interno" id="relatorio_interno"
              [(ngModel)]='assistencia.relatorio_interno'></textarea>
          </div>
        </div>
      </div>
      <div class="clr-col-md-6">
        <div class="clr-row">
          <div class="clr-col fontheavy">
            Informação para o cliente:
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col">
            <textarea class="clr-textarea wd-100" name="relatorio_cliente" id="relatorio_cliente"
              [(ngModel)]='assistencia.relatorio_cliente'></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separate">
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Orçamento:
      </div>
      <div class="clr-col">
        <span *ngIf="assistencia.orcamento">€ {{assistencia.orcamento}}</span>
        <span *ngIf="!assistencia.orcamento">não tem</span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-2 fontheavy">
        Preço:
      </div>
      <div class="clr-col-md-4">
        €<input class="clr-input" type="number" name="preco" id="preco" [(ngModel)]='assistencia.preco'>
      </div>
    </div>
  </div>

  <div class="separate">

    <div *ngIf="assistencia.estado === 'recebido'
          || assistencia.estado === 'em análise'
          || assistencia.estado === 'contactado'
          || assistencia.estado === 'incontactável'
          || assistencia.estado === 'orçamento aprovado'
          || assistencia.estado === 'orçamento recusado'
          || assistencia.estado === 'material recebido'">
      <button class="btn btn-primary btn-icon" (click)="saveAssistencia('em análise', assistencia)">
        <clr-icon class="is-solid" shape="floppy" flip="vertical"></clr-icon>
        Guardar
      </button>
      <clr-dropdown>
        <button clrDropdownTrigger class="btn btn-outline-primary">+ Opções <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
          <button clrDropdownItem (click)="saveAssistencia('orçamento pendente', assistencia)">Orçamentar
          </button>
          <button clrDropdownItem (click)="saveAssistencia('contacto pendente', assistencia)">Contactar
          </button>
          <button clrDropdownItem (click)="saveAssistencia('concluído', assistencia)">Concluir</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

    <div *ngIf="assistencia.estado === 'orçamento pendente'
          || assistencia.estado === 'não atendeu p/ orç.'
          || assistencia.estado === 'cliente adiou orç.'">
      <button class="btn btn-success" (click)="saveAssistencia('orçamento aprovado', assistencia)">Aceite</button>
      <clr-dropdown>
        <button clrDropdownTrigger class="btn btn-outline-primary">+ Opções <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
          <button clrDropdownItem (click)="saveAssistencia('orçamento recusado', assistencia)">Recusado
          </button>
          <button clrDropdownItem (click)="saveAssistencia('cliente adiou orç.', assistencia)">Cliente adiou
            resposta</button>
          <button clrDropdownItem (click)="saveAssistencia('não atendeu p/ orç.', assistencia)">Não atendeu
          </button>
          <button clrDropdownItem (click)="saveAssistencia('incontactável', assistencia)">Incontactável
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

    <div *ngIf="assistencia.estado === 'contacto pendente'
          || assistencia.estado === 'não atendeu p/ cont.'
          || assistencia.estado === 'cliente adiou resp.'">
      <button type="button" class="btn btn-success" (click)="saveAssistencia('contactado', assistencia)">
        Sucesso
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown>
        <button clrDropdownTrigger class="btn btn-outline-primary">+ Opções <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
          <button type="button" (click)="saveAssistencia('contactado', assistencia)" clrDropdownItem>Cliente adiou
            resposta</button>
          <button type="button" (click)="saveAssistencia('não atendeu p/ cont.', assistencia)" clrDropdownItem>Não
            atendeu</button>
          <button type="button" (click)="saveAssistencia('incontactável', assistencia)"
            clrDropdownItem>Incontactável</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

    <div *ngIf="assistencia.estado === 'concluído'">
      <button class="btn btn-warning" (click)="saveAssistencia('entregue', assistencia)">
        Entregar
      </button>
    </div>

    <div *ngIf="assistencia.estado === 'entregue'">
      <button class="btn" (click)="openNewAssistenciaWithThisData(assistencia)">
        Receber Novamente
      </button>
    </div>
  </div>

</div>

<clr-modal [(clrModalOpen)]="modal" [clrModalSize]="'lg'">
  <h3 class="modal-title">Adicionar Material (👷 Em construção...)</h3>
  <div class="modal-body">
    <form [formGroup]="artigoSearchForm" (ngSubmit)="searchArtigo(artigoSearchForm.value.input)">
      <div class="clr-row">
        <div class="clr-col-12 padding-bottom-05">
          <input type="text" class="clr-input wd-100" placeholder="Digita algo..." name="input" formControlName="input" />
        </div>
      </div>
    </form>
    <h4>Resultados:</h4>
    <div *ngIf="results as artigos">
      <div *ngIf="artigos.length===0">🤷 Não encontrei nada... Tenta novamente com atenção.</div>
      <div *ngIf="artigos.length>0">
        <r-data-row class="clr-row" *ngFor="let artigo of artigos; let listaIndex=index" (click)="addArtigo(artigo)">
          <div class="clr-col-lg-3">
            <span class="fontheavy">{{artigo.marca}}</span>
            {{artigo.modelo}}
          </div>
          <div class="clr-col-lg-6 lessimportant">
            {{artigo.descricao}}
          </div>
          <div class="clr-col-lg-1 lessimportant">
            Qty: {{artigo.qty}}
          </div>
          <div class="clr-col-lg-2 lessimportant">
            Local: {{artigo.localizacao}}
          </div>
        </r-data-row>
      </div>
    </div>
  </div>
</clr-modal>