<div class="sticky">
  <h3>
    Assistências activas
    <span
      class="badge badge-light-blue"
      *ngIf="assistenciasTodas$ | async as assistencias"
    >
      <span *ngIf="assistencias && assistencias.length < 100">
        {{ assistencias.length }}</span
      >
      <span *ngIf="assistencias && assistencias.length > 99"> 99+</span>
    </span>
  </h3>

  <clr-tabs (window:resize)="onResize($event)">
    <clr-tab>
      <button clrTabLink (click)="filterAssistencias('minhas')">
        Minhas
        <span class="badge" *ngIf="assistenciasMinhas$ | async as assistencias">
          <span *ngIf="assistencias.length < 100">
            {{ assistencias.length }}</span
          >
          <span *ngIf="assistencias.length > 99"> 99+</span>
        </span>
      </button>
    </clr-tab>
    <clr-tab>
      <button
        clrTabLink
        (click)="filterAssistencias('a fechar')"
        [clrTabLinkInOverflow]="inOverflow"
      >
        A fechar
        <span
          class="badge"
          *ngIf="assistenciasAFechar$ | async as assistencias"
        >
          <span *ngIf="assistencias.length < 100">
            {{ assistencias.length }}</span
          >
          <span *ngIf="assistencias.length > 99"> 99+</span>
        </span>
      </button>
    </clr-tab>
    <clr-tab>
      <button
        clrTabLink
        (click)="filterAssistencias('todas')"
        [clrTabLinkInOverflow]="inOverflow"
      >
        Todas
        <span class="badge" *ngIf="assistenciasTodas$ | async as assistencias">
          <span *ngIf="assistencias.length < 100">
            {{ assistencias.length }}</span
          >
          <span *ngIf="assistencias.length > 99"> 99+</span>
        </span>
      </button>
    </clr-tab>
  </clr-tabs>
</div>

<r-loading *ngIf="isLoading"></r-loading>

<div *ngIf="assistencias$ | async as assistencias">
  <ul *ngFor="let assistencia of assistencias; let listaIndex = index">
    <li class="clr-row">
      <app-assistencia-row
        class="clr-col-12"
        [assistencia]="assistencia"
        (openAssistencia)="openAssistencia($event)"
      ></app-assistencia-row>
    </li>
  </ul>
</div>
