<div class="sticky-at-lg">
  <h3>Pesquisar stock</h3>

  <form
    clrForm
    [formGroup]="artigoSearchForm"
    formState="stockPageArtigoSearchForm"
  >
    <div class="clr-row">
      <div class="clr-col-xl-9 clr-col-lg-12 padding-bottom-05">
        <input
          type="text"
          class="clr-input wd-100"
          placeholder="Digita algo..."
          name="input"
          (keydown.enter)="searchArtigo(artigoSearchForm.value.input)"
          formControlName="input"
          autofocus
        />
      </div>
      <div class="clr-col-xl-3 clr-col-lg-12 padding-bottom-05">
        <clr-button-group
          class="btn-primary"
          [clrMenuPosition]="'bottom-right'"
        >
          <clr-button (click)="searchArtigo(artigoSearchForm.value.input)">
            <clr-icon shape="search"></clr-icon> Pesquisar
          </clr-button>
          <clr-button [clrInMenu]="true" (click)="newArtigo()"
            >Novo artigo</clr-button
          >
          <clr-button
            [clrInMenu]="true"
            (click)="searchArtigoByLocal(artigoSearchForm.value.input)"
          >
            Pesquisar por local</clr-button
          >
        </clr-button-group>
      </div>
    </div>
  </form>
</div>

<h4>Resultados:</h4>

<app-artigo-row-list
  [artigos$]="results$"
  (rowClick)="openArtigo($event)"
></app-artigo-row-list>
