<div>
  <div class="row linha" *ngFor="let assistencia of assistencias$">
    <div class="col-md-1 fontheavy">
      {{assistencia.id}}
    </div>
    <div class="col-md-2 lessimportant">
      {{assistencia.categoria}}:
    </div>
    <div class="col-md-2">
      <span class="fontheavy">{{assistencia.marca}}</span>
      {{assistencia.modelo}}
    </div>
    <div class="col-md-1 lessimportant">
        {{assistencia.cor}}
      </div>
    <div class="col-md-3 lessimportant">
      {{assistencia.problema}}
    </div>
    <div class="col-md-2 lessimportant">
      cliente:{{assistencia.cliente_user_id}}
    </div>
    <div class="col-md-1 lessimportant">
      {{assistencia.estado}}
    </div>
  </div>
</div>