.linha {
    border-bottom: 1px solid #ddd;
    padding: 0em 0em 0em 0em;
}

.linha:nth-child(even){background-color: #ebebeb;}

.linha:hover {background-color: #ddd;}

.fontheavy {
    font-weight: 500;
}

.fontlight {
    font-weight: 300;
}

.lessimportant {
    color: lighten($color: #212529, $amount: 20%);
}