<div class="sticky">
  <h3>
    Encomendas
    <span
      class="badge badge-light-blue"
      *ngIf="encomendas$ | async as encomendas"
    >
      <span *ngIf="encomendas && encomendas.length < 99">{{
        encomendas.length
      }}</span>
      <span *ngIf="encomendas && encomendas.length > 99">99+</span>
    </span>
  </h3>

  <clr-tabs (window:resize)="onResize($event)">
    <clr-tab>
      <button clrTabLink (click)="filterEncomendas('aguarda entrega')">
        Aguardam entrega
        <span *ngIf="encomendasAguardaEntrega$ | async as encomendas">
          <span *ngIf="encomendas.length < 99"> ({{ encomendas.length }})</span>
          <span *ngIf="encomendas.length > 99"> (99+)</span>
        </span>
      </button>
    </clr-tab>
    <clr-tab>
      <button
        clrTabLink
        (click)="filterEncomendas('recebida')"
        [clrTabLinkInOverflow]="inOverflow"
      >
        Recebidas
        <span *ngIf="encomendasRecebidas$ | async as encomendas">
          <span *ngIf="encomendas.length < 99"> ({{ encomendas.length }})</span>
          <span *ngIf="encomendas.length > 99"> (99+)</span>
        </span>
      </button>
    </clr-tab>
    <clr-tab>
      <button
        clrTabLink
        (click)="filterEncomendas('marcadas')"
        [clrTabLinkInOverflow]="inOverflow"
      >
        Marc. p/ ir a fornecedor
        <span *ngIf="encomendasMarcadas$ | async as encomendas">
          <span *ngIf="encomendas.length < 99"> ({{ encomendas.length }})</span>
          <span *ngIf="encomendas.length > 99"> (99+)</span>
        </span>
      </button>
    </clr-tab>
    <clr-tab>
      <button
        clrTabLink
        (click)="filterEncomendas('todas')"
        [clrTabLinkInOverflow]="inOverflow"
      >
        Todas
        <span *ngIf="encomendasTodas$ | async as encomendas">
          <span *ngIf="encomendas.length < 99"> ({{ encomendas.length }})</span>
          <span *ngIf="encomendas.length > 99"> (99+)</span>
        </span>
      </button>
    </clr-tab>
  </clr-tabs>
</div>

<app-encomenda-row-list
  [encomendas$]="encomendas$"
  [isLoading]="isLoading"
></app-encomenda-row-list>
