<div *ngIf="assistencia$ | async as assistencia">
  <clr-modal *ngIf="assistencia" [clrModalOpen]="true" (clrModalOpenChange)="closeModal(true)" [clrModalSize]="'lg'">

    <h3 class="modal-title">{{assistencia.id}}</h3>

    <div class="modal-body">
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Estado:
          </div>
          <div class="clr-col">
            {{assistencia.estado}}
          </div>
        </div>
      </div>
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Cliente:
          </div>
          <div class="clr-col">
            {{assistencia.cliente_user_name}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Técnico:
          </div>
          <div class="clr-col">
            {{assistencia.registo_cronologico[assistencia.registo_cronologico.length-1].tecnico}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Equipamento:
          </div>
          <div class="clr-col">
            {{assistencia.categoria}}
            {{assistencia.marca}}
            {{assistencia.modelo}}
            {{assistencia.cor}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Serial:
          </div>
          <div class="clr-col">
            {{assistencia.serial}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Problema:
          </div>
          <div class="clr-col">
            {{assistencia.problema}}
          </div>
        </div>
      </div>
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-6">
            <div class="clr-row">
              <div class="clr-col fontheavy">
                Informação técnica interna:
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col">
                <textarea name="relatorio_interno" id="relatorio_interno"
                  [(ngModel)]='assistencia.relatorio_interno'></textarea>
              </div>
            </div>
          </div>
          <div class="clr-col-md-6">
            <div class="clr-row">
              <div class="clr-col fontheavy">
                Informação para o cliente:
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col">
                <textarea name="relatorio_cliente" id="relatorio_cliente"
                  [(ngModel)]='assistencia.relatorio_cliente'></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Orçamento:
          </div>
          <div class="clr-col">
            <span *ngIf="assistencia.orcamento">€ {{assistencia.orcamento}}</span>
            <span *ngIf="!assistencia.orcamento">não tem</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Preço:
          </div>
          <div class="clr-col-md-4">
            €<input type="number" name="preco" id="preco" [(ngModel)]='assistencia.preco'>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer" *ngIf="assistencia.estado != 'entregue'">
      <clr-dropdown>
        <button type="button" class="btn" clrDropdownTrigger>
          <clr-icon shape="caret down"></clr-icon>
          + Opções
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
          <button type="button" clrDropdownItem
            (click)="saveModal('orçamento pendente', assistencia)">Orçamentar</button>
          <button type="button" clrDropdownItem (click)="saveModal('contacto pendente', assistencia)">
            Contactar</button>
          <button type="button" clrDropdownItem (click)="saveModal('concluído', assistencia)">Concluir</button>
          <button type="button" clrDropdownItem (click)="saveModal('entregue', assistencia)">Entregar</button>
        </clr-dropdown-menu>
      </clr-dropdown>
      <button class="btn btn-primary btn-icon" (click)="saveModal('em análise', assistencia)">
        <clr-icon class="is-solid" shape="floppy" flip="vertical"></clr-icon>
        Guardar
      </button>
    </div>
    <div class="modal-footer" *ngIf="assistencia.estado === 'entregue'">
        <button class="btn" (click)="openNewAssistWithThisData(assistencia)">
          receber novamente
        </button>
      </div>
  </clr-modal>
</div>