/////////////////////////////// imports ////////////////////////////////////////

@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

///////////////////// variables ///////////////////////////////////////

$topbar-height: 3.5em;
$topbar-bg: #212121;
$topbar-color: #d6d6d6;

$sidebar-width: 10em;
$sidebar-bg: lighten($topbar-bg, 10%);


$general-padding: 0.5em 1em 0.5em 1em;
$primary-color: $topbar-color;

//////////////////////  reset body /////////////////////////////////////

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  text-rendering: optimizeLegibility;
  font-family: 
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

///////////////////////// elements customization //////////////////////////////////

input,
textarea {
  background-color: #d6d6d67a;
  min-width: 100%;
  border: none;
  margin-bottom: 0.5rem;
}

input[type="radio"] { min-width: auto; }

input[type="submit"],
input[type="button"] {
  cursor: pointer;
  padding: 0.5em 1em 0.5em 1em;
  color: whitesmoke;
  background-color: #212121a9;
  border: none;
}

input[class="my-button-secondary"] {
  color: $topbar-bg;
  background-color: $primary-color;
}



select {
  background-color: #d6d6d67a;
  border: none;
}

//////////////////////////// my framework classes /////////////////////////////

.fontheavy { font-weight: 500; }

.fontlight {  font-weight: 300; }

.lessimportant { color: lighten($color: #212529, $amount: 20%); }

.separate { margin: 1em 0 1em 0; }

.separate {
  padding: 0 1em 0 1em;  
  background-color: #ebebeb;
}

.mylogo {
  width: 6em;
  height: 3.5em;
  margin: 0;
}

.mymenu {
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  margin: .5em 1em .5em 1em;
}

.mylogin {
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  right: 0px;
  height: $topbar-height;
  line-height: ($topbar-height/1.2);
  padding: $general-padding;
  color: $primary-color !important;
}
.mylogin:hover {
  background-color: darken($topbar-bg, 2%);
  color: lighten($primary-color, 15%) !important;
}


.mytopbar {
  background-color: $topbar-bg;
  color: $topbar-color;
  position: fixed;
  top: 0;
  height: $topbar-height;
  width: 100%;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1;
}

.mysidebar {
  display: none;
  z-index: 2;
  background-color: $sidebar-bg;
  color: $topbar-color;
  position: fixed;
  top: $topbar-height;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  padding: 1em 0 0 0;
}

.sidebar-visible { display: block; }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0rem 1rem;
  background-color: $sidebar-bg;
  color: $topbar-color;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.nav-link:hover,
.nav-link:focus {
  color: lighten($primary-color, 15%);
  text-decoration: none;
}

.nav-link-active {
  background-color: $topbar-bg;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1;
}
.nav-link-active:hover { background-color: darken($topbar-bg, 2%); }

.sub-nav-link{
  margin-top: 0;
  padding-left: 2.5em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}
.sub-nav-link-last-item { margin-bottom: 0.5em; }

.mycontent {
  margin-top: $topbar-height;
  margin-left: 0;
  padding: $general-padding;
}

:disabled {
  text-decoration: line-through;
  cursor: not-allowed !important;
}

@media only screen and (min-width: 992px) {
  .mylogo {
    margin-left: 2em;
  }

  .mymenu {
    display: none;
  }

  .mysidebar {
    display: block;
  }

  .mycontent {
    margin-left: $sidebar-width;
  }
}
