<div class="clr-row">
  <div class="clr-col">
    <button class="btn btn-link" (click)="artigoSearchModal.open()">
      Adicionar material
    </button>
  </div>
</div>
<div
  class="clr-row"
  *ngIf="assistencia.material && assistencia.material.length"
>
  <div class="clr-col">
    <clr-datagrid>
      <clr-dg-column>Qty</clr-dg-column>
      <clr-dg-column>Descrição</clr-dg-column>
      <clr-dg-column>Local</clr-dg-column>
      <clr-dg-column>Custo p/ unidade</clr-dg-column>
      <clr-dg-column>PVP</clr-dg-column>
      <clr-dg-row *ngFor="let artigo of assistencia.material">
        <clr-dg-cell
          ><input
            class="clr-input small-input"
            type="number"
            name="newQty"
            id="newQty"
            [(ngModel)]="artigo.qty"
            (change)="updateMaterial(artigo)"
          />
        </clr-dg-cell>
        <clr-dg-cell
          >{{ artigo.descricao }} {{ artigo.marca }}
          {{ artigo.modelo }}</clr-dg-cell
        >
        <clr-dg-cell>{{ artigo.localizacao }}</clr-dg-cell>
        <clr-dg-cell>{{ artigo.preco | currency: "EUR" }}</clr-dg-cell>
        <clr-dg-cell>{{ artigo.pvp | currency: "EUR" }}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer
        >{{ assistencia.material.length }} artigos adicionados</clr-dg-footer
      >
    </clr-datagrid>
  </div>
</div>

<app-artigo-search-modal [assistencia]="assistencia"></app-artigo-search-modal>
