<clr-main-container class="screenable">
  <clr-header class="header header-4">
    <div class="branding">
      <a class="nav-link">
        <img class="mylogo" src="../../assets/logo.svg" height="24" width="72" alt="logo">
        <!--<clr-icon shape="home" size="24"></clr-icon>-->
        <span class="title">N Reparações</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          😃 {{userName}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!--<a href="." clrDropdownItem>Preferências</a>-->
          <a (click)="logOut()" clrDropdownItem>🚪 Sair</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
      <app-assistencia-modal *ngIf="assistenciaModalVisible$ | async"></app-assistencia-modal>
      <app-artigo-modal *ngIf="artigoModalVisible$ | async"></app-artigo-modal>
    </main>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <a class="nav-link" routerLink="./painel-rapido" routerLinkActive="active">Painel Rápido</a>
        <section class="nav-group">
          <input id="tabexample1" type="checkbox">
          <label for="tabexample1">Assistências</label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="./assistencias" routerLinkActive="active">Activas</a></li>
            <li><a class="nav-link" routerLink="./assistencias-criar-nova" routerLinkActive="active">Nova</a>
            </li>
            <li><a class="nav-link" routerLink="./assistencias-pesquisar" routerLinkActive="active">Pesquisar</a></li>
          </ul>
        </section>
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">Encomendas</label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="./encomendas" routerLinkActive="active">Activas</a></li>
            <li><a class="nav-link" routerLink="./encomendas-criar-nova" routerLinkActive="active">Nova</a></li>
            <li><a class="nav-link" routerLink="./encomendas-pesquisar" routerLinkActive="active">Pesquisar</a></li>
          </ul>
        </section>
        <section class="nav-group">
          <input id="tabexample3" type="checkbox">
          <label for="tabexample3">Stock</label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="./stock" routerLinkActive="active">Pesquisar</a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</clr-main-container>
<app-assistencia-entrada-print class="printable"></app-assistencia-entrada-print>
<app-assistencia-saida-print class="printable"></app-assistencia-saida-print>