<form class="myform" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h3>Registar novo utilizador</h3>

  <div class="row">
    <div class="col-sm-2">
      <label for="nome">Nome:</label>
    </div>
    <div class="col-sm-10">
      <input type="text" name="nome" id="nome" placeholder="(obrigatório)" required formControlName="nome">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="contacto">Contacto:</label>
    </div>
    <div class="col-sm-10">
      <input type="tel" name="contacto" id="contacto" placeholder="(obrigatório)" formControlName="contacto">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="email">Email:</label>

    </div>
    <div class="col-sm-10">
      <input type="email" name="email" id="email" formControlName="email">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="password">Password:</label>

    </div>
    <div class="col-sm-10">
      <input type="password" name="password" id="password" formControlName="password">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="endereco">Endereço:</label>

    </div>
    <div class="col-sm-10">
      <input type="text" name="endereco" id="endereco" formControlName="endereco">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="nif">NIF:</label>

    </div>
    <div class="col-sm-10">
      <input type="number" name="nif" id="nif" formControlName="nif">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="tipo">Tipo:</label>

    </div>
    <div class="col-sm-10">

      <select name="tipo" id="tipo" formControlName="tipo">
        <option value="tecnico">Técnico</option>
        <option value="cliente">Cliente</option>
      </select>

    </div>
  </div>

  <div class="row">
    <span *ngIf="!signupForm.valid">Preencha correctamente todos os campos obrigatórios!</span>
  </div>

  <div class="row">
    <input type="submit" [disabled]="!signupForm.valid">
  </div>
</form>
