<r-data-row (click)="rowClick.emit(artigo)">
  <ul class="clr-row list-unstyled">
    <li class="clr-col-lg-3">
      <p>
        <span class="p2">{{ artigo.marca }}</span>
        {{ artigo.modelo }}
      </p>
    </li>
    <li class="clr-col-lg-6">
      <p>
        {{ artigo.descricao }}
      </p>
    </li>
    <li class="clr-col-lg-1">
      <p><span class="p7">Qty: </span>{{ artigo.qty }}</p>
    </li>
    <li class="clr-col-lg-2">
      <p><span class="p7">Local: </span>{{ artigo.localizacao }}</p>
    </li>
  </ul>
</r-data-row>
