<form [formGroup]="artigoSearchForm">
  <div class="clr-row">
    <div class="clr-col-xl-9 clr-col-lg-12 padding-bottom-05">
      <input type="text" class="clr-input wd-100" placeholder="Digita algo..." name="input"
        (keydown.enter)="searchArtigo(artigoSearchForm.value.input)" formControlName="input" autofocus />
    </div>
    <div class="clr-col-xl-3 clr-col-lg-12 padding-bottom-05">
      <clr-button-group class="btn-primary" [clrMenuPosition]="'bottom-right'">
        <clr-button (click)="searchArtigo(artigoSearchForm.value.input)"><clr-icon shape="search"></clr-icon> Pesquisar</clr-button>
        <clr-button [clrInMenu]="true" (click)="newArtigo()">Novo artigo</clr-button>
        <clr-button [clrInMenu]="true" (click)="searchArtigoByLocal(artigoSearchForm.value.input)">
          Pesquisar por local</clr-button>
      </clr-button-group>
    </div>
  </div>
</form>

<h4>Resultados:</h4>
<div *ngIf="loading">
  <span class="spinner spinner-inline">
  </span>
  <span>
    A carregar dados...
  </span>
</div>

<div *ngIf="results as artigos">
  <div *ngIf="artigos.length===0">Nenhum resultado encontrado para esses parametros...</div>
  <div *ngIf="artigos.length>0">
    <r-data-row class="clr-row" *ngFor="let artigo of artigos; let listaIndex=index" (click)="openArtigo(artigo.id)">
      <div class="clr-col-lg-3">
        <span class="fontheavy">{{artigo.marca}}</span>
        {{artigo.modelo}}
      </div>
      <div class="clr-col-lg-6 lessimportant">
        {{artigo.descricao}}
      </div>
      <div class="clr-col-lg-1 lessimportant">
        Qty: {{artigo.qty}}
      </div>
      <div class="clr-col-lg-2 lessimportant">
        Local: {{artigo.localizacao}}
      </div>
    </r-data-row>
  </div>
</div>