<form (ngSubmit)="search(input)">
  <div class="clr-row">
    <div class="clr-col-xl-2 clr-col-lg-3">
      <input type="submit" class="btn btn-primary" value="🔎 Pesquisar" />
    </div>
    <div class="clr-col-xl-2 clr-col-lg-3">
      <button class="btn" (click)="openArtigo()">👶 Novo artigo</button>
    </div>
    <div class="clr-col-xl-8 clr-col-lg-6">
      <input type="text" class="wd-100" placeholder="Digita algo..." name="input" [(ngModel)]="input" />
    </div>
  </div>
</form>

<h4>Resultados:</h4>
<div *ngIf="(results$ | async) as artigos">
  <div *ngIf="artigos.length===0">🤷 Não encontrei nada... Tenta novamente com atenção.</div>
  <div *ngIf="artigos.length>0">
    <r-data-row class="clr-row" *ngFor="let artigo of artigos; let listaIndex=index" (click)="openArtigo(artigo.id)">
      <div class="clr-col-lg-3">
        <span class="fontheavy">{{artigo.marca}}</span>
        {{artigo.modelo}}
      </div>
      <div class="clr-col-lg-6 lessimportant">
        {{artigo.descricao}}
      </div>
      <div class="clr-col-lg-1 lessimportant">
        Qty: {{artigo.qty}}
      </div>
      <div class="clr-col-lg-2 lessimportant">
        Local: {{artigo.localizacao}}
      </div>
    </r-data-row>
  </div>
</div>