<clr-modal [(clrModalOpen)]="isModalOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">Adicionar Material</h3>
  <div class="modal-body">
    <form
      [formGroup]="artigoSearchForm"
      (ngSubmit)="searchArtigo(artigoSearchForm.value.input)"
      class="sticky"
    >
      <div class="clr-row">
        <div class="clr-col-12 padding-bottom-05">
          <input
            *ngIf="isModalOpen"
            autofocus
            type="text"
            class="clr-input wd-100"
            placeholder="Digita algo..."
            name="input"
            formControlName="input"
          />
        </div>
      </div>
    </form>

    <h4>Resultados:</h4>

    <app-artigo-row-list
      [artigos$]="results$"
      [isLoading]="isLoading"
      (rowClick)="addArtigo($event)"
    ></app-artigo-row-list>
  </div>
</clr-modal>
