<r-data-row class="clr-row" (click)="openAssistencia.emit(assistencia.id)">
  <div class="clr-col-lg-1">
    <p>
      <span class="p2">{{ assistencia.id }}</span>
    </p>
  </div>
  <div class="clr-col-lg-2">
    <p>
      {{ assistencia.estado }}
    </p>
  </div>
  <div class="clr-col-lg-3">
    <p>
      <span class="p2">{{ assistencia.categoria }}</span>
      {{ assistencia.marca }}
      {{ assistencia.modelo }}
      {{ assistencia.cor }}
    </p>
  </div>
  <div class="clr-col-lg-2">
    <p>
      {{ assistencia.problema }}
    </p>
  </div>
  <div class="clr-col-lg-2">
    <p><span class="p7">Cliente:</span> {{ assistencia.cliente_user_name }}</p>
  </div>
  <div class="clr-col-lg-2">
    <p>
      <span class="p7">Técnico:</span> {{ assistencia.tecnico }}
      <span *ngIf="!assistencia.tecnico">-</span>
    </p>
  </div>
</r-data-row>
