<r-data-row class="clr-row" *ngIf="!isSelected" (click)="isSelected = true">
  <div class="clr-col-lg-1">
    <p>
      <span class="p2">{{ assistencia.id }}</span>
    </p>
  </div>
  <div class="clr-col-lg-2">
    <p>
      {{ assistencia.estado }}
    </p>
  </div>
  <div class="clr-col-lg-3">
    <p>
      <span class="p2">{{ assistencia.categoria }}</span>
      {{ assistencia.marca }}
      {{ assistencia.modelo }}
      {{ assistencia.cor }}
    </p>
  </div>
  <div class="clr-col-lg-2">
    <p>
      {{ assistencia.problema }}
    </p>
  </div>
  <div class="clr-col-lg-2">
    <p><span class="p7">Cliente:</span> {{ assistencia.cliente_user_name }}</p>
  </div>
  <div class="clr-col-lg-2">
    <p>
      <span class="p7">Técnico:</span> {{ assistencia.tecnico }}
      <span *ngIf="!assistencia.tecnico">-</span>
    </p>
  </div>
</r-data-row>
<r-data-row
  class="clr-row"
  *ngIf="isSelected"
  [ngClass]="{ selected: isSelected }"
  (click)="isSelected = false"
>
  <div class="r-card-block clr-col-12">
    <h4 class="r-card-title">{{ assistencia.id }}</h4>
    <div class="group">
      <p class="r-card-text">
        <strong>Estado: </strong> {{ assistencia.estado }}
      </p>
      <p class="r-card-text">
        <strong>{{ assistencia.categoria }}</strong>
        {{ assistencia.marca }} {{ assistencia.modelo }}
        {{ assistencia.cor }}
      </p>
    </div>
    <div class="group less-emphasis">
      <p class="r-card-text">Problema: {{ assistencia.problema }}</p>
      <p class="r-card-text">Cliente: {{ assistencia.cliente_user_name }}</p>
      <p class="r-card-text">Técnico: {{ assistencia.tecnico }}</p>
    </div>
  </div>
  <div class="r-card-footer clr-col-12">
    <button class="btn btn-success">
      <clr-icon
        shape="play"
        (click)="runAssistencia.emit(assistencia.id)"
      ></clr-icon>
      Iniciar
    </button>
    <button class="btn btn-link" (click)="openAssistencia.emit(assistencia.id)">
      <clr-icon shape="pop-out"></clr-icon> Abrir
    </button>
    <button
      class="btn btn-link"
      (click)="assignAssistencia.emit(assistencia.id)"
    >
      <clr-icon shape="cursor-hand-open"></clr-icon> Atribuir-me
    </button>
  </div>
</r-data-row>
