<div *ngIf="(modalState$ | async) as modalState">
  <clr-modal
    [clrModalOpen]="modalState.modalIsOpen"
    (clrModalOpenChange)="closeModal()"
    [clrModalSize]="'lg'">

    <h3 class="modal-title">{{modalState.assistencia?.id}}</h3>

    <div class="modal-body" *ngIf="modalState.assistencia">
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Estado:
          </div>
          <div class="clr-col">
            {{modalState.assistencia.estado}}
          </div>
        </div>
      </div>
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Cliente:
          </div>
          <div class="clr-col">
            {{modalState.assistencia.cliente_user_name}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Equipamento:
          </div>
          <div class="clr-col">
            {{modalState.assistencia.categoria}}
            {{modalState.assistencia.marca}}
            {{modalState.assistencia.modelo}}
            {{modalState.assistencia.cor}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Serial:
          </div>
          <div class="clr-col">
            {{modalState.assistencia.serial}}
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Problema:
          </div>
          <div class="clr-col">
            {{modalState.assistencia.problema}}
          </div>
        </div>
      </div>
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-6">
            <div class="clr-row">
              <div class="clr-col fontheavy">
                Informação técnica interna:
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col">
                <textarea name="relatorio_interno" id="relatorio_interno"
                  [(ngModel)]='modalState.assistencia.relatorio_interno'></textarea>
              </div>
            </div>
          </div>
          <div class="clr-col-md-6">
            <div class="clr-row">
              <div class="clr-col fontheavy">
                Informação para o cliente:
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col">
                <textarea name="relatorio_cliente" id="relatorio_cliente"
                  [(ngModel)]='modalState.assistencia.relatorio_cliente'></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separate">
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Orçamento:
          </div>
          <div class="clr-col">
            {{modalState.assistencia.orcamento}}
            <span *ngIf="!modalState.assistencia.orcamento">não tem</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-md-2 fontheavy">
            Preço:
          </div>
          <div class="clr-col-md-4">
            <input type="number" name="preco" id="preco" [(ngModel)]='modalState.assistencia.preco'>
          </div>
          <div class="clr-col-md-auto">
            €
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <clr-button-group class="btn-group " [clrMenuPosition]="'top-right'">
        <clr-button class="btn"
        (click)="saveModal({newEstado: 'orçamento pendente', assistencia: modalState.assistencia})"
        [clrInMenu]="true">Orçamentar</clr-button>
        <clr-button class="btn"
        (click)="saveModal({newEstado: 'contacto pendente', assistencia: modalState.assistencia})"
        [clrInMenu]="true">Contactar</clr-button>
        <clr-button class="btn"
        (click)="saveModal({newEstado: 'concluído', assistencia: modalState.assistencia})"
        [clrInMenu]="true">Concluir</clr-button>
        <clr-button class="btn btn-primary btn-icon"
        (click)="saveModal({newEstado: 'em análise', assistencia: modalState.assistencia})">
        <clr-icon class="is-solid" shape="floppy" flip="vertical"></clr-icon>
        Guardar</clr-button>
      </clr-button-group>
    </div>

  </clr-modal>
</div>