<ng-template #loading>
  <r-loading *ngIf="!isLoading"></r-loading>
</ng-template>

<r-loading *ngIf="isLoading"></r-loading>

<div *ngIf="artigos$ | async as artigos; else loading">
  <ul *ngIf="artigos.length > 0; else noArtigos">
    <li class="clr-row" *ngFor="let artigo of artigos; let listaIndex = index">
      <app-artigo-row
        class="clr-col-12"
        [artigo]="artigo"
        (rowClick)="rowClick.emit($event)"
      ></app-artigo-row>
    </li>
  </ul>
  <ng-template #noArtigos>
    <p *ngIf="!isLoading">Nenhum artigo...</p>
  </ng-template>
</div>
