<clr-modal [clrModalOpen]="true" (clrModalOpenChange)="closeModal(true)" [clrModalSize]="'lg'">
  <h3 class="modal-title">Pesquisa de Assistencias</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col">
        <clr-select-container>
          <label>Filtros</label>
          <select clrSelect name="options" [(ngModel)]="options" required>
            <option *ngFor="let filtro of filtros" [value]=filtro>{{filtro | titlecase}}</option>
          </select>
          <clr-control-helper>Adiciona quantos filtros quiseres</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-select-container>
        <form clrForm>
          <input clrInput placeholder="&#128270;" name="input" [(ngModel)]="input" />
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</clr-modal>