<ng-template #loading>
  <r-loading *ngIf="!isLoading"></r-loading>
</ng-template>

<r-loading *ngIf="isLoading"></r-loading>

<div *ngIf="assistencias$ | async as assistencias; else loading">
  <ul *ngIf="assistencias.length > 0; else noAssistencias">
    <li
      class="clr-row"
      *ngFor="let assistencia of assistencias; let listaIndex = index"
    >
      <app-assistencia-row
        class="clr-col-12"
        [assistencia]="assistencia"
      ></app-assistencia-row>
    </li>
  </ul>
  <ng-template #noAssistencias>
    <p *ngIf="!isLoading">Nenhuma assistência...</p>
  </ng-template>
</div>
