<r-loading *ngIf="isLoading"></r-loading>

<div *ngIf="assistencia && !isLoading">
  <app-back-button></app-back-button>

  <h3>Assistência {{ assistencia.id }}</h3>

  <div class="separate">
    <app-assistencia-info [assistencia]="assistencia"></app-assistencia-info>
  </div>
  <div class="separate">
    <app-accordion [assistencia]="assistencia"></app-accordion>
  </div>
  <div class="separate">
    <app-technical-report [assistencia]="assistencia"></app-technical-report>
  </div>
  <div class="separate">
    <app-buttons-panel [assistencia]="assistencia"></app-buttons-panel>
  </div>
</div>

<app-artigo-search-modal [assistencia]="assistencia"></app-artigo-search-modal>

<app-encomenda-wizard [assistencia]="assistencia"></app-encomenda-wizard>

<app-tecnico-select-modal
  [assistencia]="assistencia"
></app-tecnico-select-modal>
