<r-loading *ngIf="isLoading$ | async"></r-loading>

<div *ngIf="assistencia$ | async as assistencia">
  <app-back-button></app-back-button>

  <h3>Assistência {{ assistencia.id }}</h3>

  <div class="separate">
    <app-assistencia-info [assistencia]="assistencia"></app-assistencia-info>
  </div>
  <div class="separate">
    <app-accordion [assistencia]="assistencia"></app-accordion>
  </div>
  <div class="separate">
    <app-technical-report [assistencia]="assistencia"></app-technical-report>
  </div>
  <div class="separate">
    <app-buttons-panel [assistencia]="assistencia"></app-buttons-panel>
  </div>
</div>
