<div class="box">
  <div class="clr-row">
    <div class="clr-col-xl-2">
      <p>Escolha filtro:</p>
    </div>
    <div class="clr-col-xl-3">
      <select clrSelect name="options" [(ngModel)]="selectedOption" required>
        <option value="" disabled selected hidden>👉 Escolha filtro</option>
        <option *ngFor="let filterOption of filterOptions" [value]=filterOption>{{filterOption | uppercase}}</option>
      </select>
    </div>
    <div class="clr-col-xl-3">
      <input clrInput placeholder="✏️ Digite {{selectedOption}}..." name="input" [(ngModel)]="input" />
    </div>
    <div class="clr-col-xl-2">
      <button class="btn btn-outline" (click)="addFilter({column: selectedOption, condition: input})">➕
        Adicionar</button>
    </div>
    <div class="clr-col-xl-2">
      <button class="btn btn-primary" (click)="search()">🔎 Pesquisar</button>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col">
      <ul class="list-unstyled">
        <li *ngFor="let searchFilter of searchFilters; index as i;  trackById" [value]=searchFilter (click)="removeSearchFilter(i)">{{searchFilter.column | uppercase}}:
          "{{searchFilter.condition}}"</li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="(results$ | async) as results">
  <div *ngIf="results.length>0">
    <r-data-row class="clr-row" *ngFor="let result of results; let listaIndex=index" (click)="openModal(result.id)">
      <div class="clr-col-lg-1 fontheavy">
        {{result.id}}
      </div>
      <div class="clr-col-lg-2 lessimportant">
        {{result.categoria}}:
      </div>
      <div class="clr-col-lg-2">
        <span class="fontheavy">{{result.marca}}</span>
        {{result.modelo}}
      </div>
      <div class="clr-col-lg-1 lessimportant">
        {{result.cor}}
      </div>
      <div class="clr-col-lg-3 lessimportant">
        {{result.problema}}
      </div>
      <div class="clr-col-lg-2 lessimportant">
        Cliente:{{result.cliente_user_name}}
      </div>
      <div class="clr-col-lg-1 lessimportant">
        {{result.estado}}
      </div>
    </r-data-row>
  </div>
</div>