.myform {
  margin: 1em;
}

input {
  background-color: #d6d6d67a;
  min-width: 50%;
  border: none;
}

input[type="radio"] {
  min-width: auto;
}

input[type="submit"] {
  padding: 0.5em 1em 0.5em 1em;
  min-width: auto;
  color: whitesmoke;
  background-color: #212121a9;
}

select {
  background-color: #d6d6d67a;
  border: none;
}