<r-data-row (click)="toogleView()" [ariaExpanded]="isExpanded">
  <div #expandedView class="clr-row expanded-view">
    <div class="r-card-block clr-col-12">
      <h4 class="r-card-title">{{ assistencia.id }}</h4>
      <ul class="list-unstyled">
        <div class="group">
          <li class="r-card-text">
            <p><strong>Estado: </strong> {{ assistencia.estado }}</p>
          </li>
          <li class="r-card-text">
            <p>
              <strong>{{ assistencia.categoria }}</strong>
              {{ assistencia.marca }} {{ assistencia.modelo }}
              {{ assistencia.cor }}
            </p>
          </li>
        </div>
        <div class="group less-emphasis">
          <li class="r-card-text">
            <p>Problema: {{ assistencia.problema }}</p>
          </li>
          <li class="r-card-text">
            <p>Cliente: {{ assistencia.cliente_user_name }}</p>
          </li>
          <li class="r-card-text">
            <p>Técnico: {{ assistencia.tecnico }}</p>
          </li>
        </div>
      </ul>
    </div>
    <div #buttonsContainer class="r-card-footer">
      <button class="btn btn-success">
        <clr-icon
          shape="play"
          (click)="runAssistencia(assistencia.id)"
        ></clr-icon>
        Iniciar
      </button>
      <button class="btn btn-link" (click)="openAssistencia(assistencia.id)">
        <clr-icon shape="pop-out"></clr-icon> Abrir
      </button>
      <button class="btn btn-link" (click)="assignAssistencia(assistencia.id)">
        <clr-icon shape="cursor-hand-open"></clr-icon> Atribuir-me
      </button>
    </div>
  </div>

  <div #collapsedView class="collapsed-view">
    <ul class="clr-row list-unstyled">
      <li class="clr-col-lg-1">
        <p>
          <span class="p2">{{ assistencia.id }}</span>
        </p>
      </li>
      <li class="clr-col-lg-2">
        <p>
          {{ assistencia.estado }}
        </p>
      </li>
      <li class="clr-col-lg-3">
        <p>
          <span class="p2">{{ assistencia.categoria }}</span>
          {{ assistencia.marca }}
          {{ assistencia.modelo }}
          {{ assistencia.cor }}
        </p>
      </li>
      <li class="clr-col-lg-2">
        <p>
          {{ assistencia.problema }}
        </p>
      </li>
      <li class="clr-col-lg-2">
        <p>
          <span class="p7">Cliente:</span> {{ assistencia.cliente_user_name }}
        </p>
      </li>
      <li class="clr-col-lg-2">
        <p>
          <span class="p7">Técnico:</span> {{ assistencia.tecnico }}
          <span *ngIf="!assistencia.tecnico">-</span>
        </p>
      </li>
    </ul>
  </div>
</r-data-row>
