<div class="clr-row">
  <div class="clr-col">
    <clr-accordion>
      <clr-accordion-panel>
        <clr-accordion-title
          >Material
          <span class="p5"
            >({{ assistencia?.material?.length }})</span
          ></clr-accordion-title
        >
        <clr-accordion-content *clrIfExpanded>
          <app-accordion-content-material
            [assistencia]="assistencia"
          ></app-accordion-content-material>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Encomendas
          <span class="p5"
            >({{ assistencia?.encomendas?.length }})</span
          ></clr-accordion-title
        >
        <clr-accordion-content *clrIfExpanded>
          <app-accordion-content-encomendas
            [assistencia]="assistencia"
          ></app-accordion-content-encomendas>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Mensagens
          <span class="p5"
            >({{ assistencia?.messages?.length }})</span
          ></clr-accordion-title
        >
        <clr-accordion-content *clrIfExpanded>
          <app-accordion-content-messages
            [assistencia]="assistencia"
          ></app-accordion-content-messages>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Registo Cronológico
          <span class="p5"
            >({{ assistencia?.registo_cronologico?.length }})</span
          >
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <app-accordion-content-registo
            [assistencia]="assistencia"
          ></app-accordion-content-registo>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
</div>
