<div>
  <!--
  <div>
    <form (ngSubmit)="search()">
      <div class="clr-row">
        <div class="clr-col-xl-2 clr-col-lg-2 padding-bottom-05">
          <label>Escolhe filtro:*</label>
        </div>
        <div class="clr-col-xl-3 clr-col-lg-5 padding-bottom-05">
          <div class="clr-select-wrapper wd-100">
            <select class="clr-select wd-100" name="options" [(ngModel)]="selectedOption" required>
              <option *ngFor="let filterOption of filterOptions" [value]=filterOption>{{filterOption | uppercase}}
              </option>
            </select>
          </div>
        </div>
        <div class="clr-col-xl-4 clr-col-lg-5 padding-bottom-05">
          <input class="clr-input wd-100" type="text" placeholder="✏️ Digita {{selectedOption}}..." name="input"
            [(ngModel)]="input" />
        </div>
        <div class="clr-col-xl-3 clr-col-lg-12 padding-bottom-05">
          <div class="btn-group btn-primary">
            <input type="submit" class="btn" value="🔎 Pesquisar">
            <button type="button" class="btn" (click)="addFilter({column: selectedOption, condition: input})">
              + Filtro</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  -->

  <div>
      <form clrForm clrLayout="vertical" class="clr-row" [formGroup]="encomendasSearchForm">
        <div class="clr-col-lg-3">
          <clr-input-container>
            <label>Cliente</label>
            <input clrInput placeholder="cliente..." (click)="userSearchModal=true" formControlName="cliente" />
          </clr-input-container>
        </div>
        <div class="clr-col-lg-3">
          <clr-select-container>
            <label>Estado</label>
            <select clrSelect name="estado" formControlName="estado">
              <option value="recebido">qualquer</option>
              <option value="recebido">recebido</option>
              <option value="em análise">em análise</option>
              <option value="contacto pendente">contacto pendente</option>
              <option value="não atendeu p/ cont.">não atendeu p/ cont.</option>
              <option value="cliente adiou resp.">cliente adiou resp.</option>
              <option value="contactado">contactado</option>
              <option value="incontactável">incontactável</option>
              <option value="orçamento pendente">orçamento pendente</option>
              <option value="não atendeu p/ orç.">não atendeu p/ orç.</option>
              <option value="cliente adiou orç.">cliente adiou orç.</option>
              <option value="orçamento aprovado">orçamento aprovado</option>
              <option value="orçamento recusado">orçamento recusado</option>
              <option value="aguarda material">aguarda material</option>
              <option value="material recebido">material recebido</option>
              <option value="concluído">concluído</option>
              <option value="entregue">entregue</option>
            </select>
          </clr-select-container>
        </div>
        <div class="clr-col-lg-3">
          <clr-input-container>
            <label>Pesquisar</label>
            <input clrInput placeholder="digita algo..." formControlName="input" (keydown.enter)="searchEncomenda(encomendasSearchForm.value.input,
                encomendasSearchForm.value.estado,
                encomendasSearchForm.value.cliente)" />
          </clr-input-container>
        </div>
        <div class="clr-col-lg-3">
          <input type="submit" class="btn btn-primary" value="🔎 Pesquisar" (click)="searchEncomenda(encomendasSearchForm.value.input,
              encomendasSearchForm.value.estado,
              encomendasSearchForm.value.cliente)">
        </div>
      </form>
    </div>
    

  <div class="clr-row">
    <div class="clr-col">
      <div *ngFor="let searchFilter of searchFilters; index as i;  trackById">
        <a href="javascript:void(0)" class="label clickable" (click)="removeSearchFilter(i)">
          {{searchFilter.column | titlecase}}: "{{searchFilter.condition}}" X
        </a>
      </div>
    </div>
  </div>
</div>

<h4>Resultados:</h4>
<div *ngIf="(results$ | async) as results">
  <div *ngIf="results.length===0">🤷 Não encontrei nada... Tenta novamente com atenção.</div>
  <div *ngIf="results.length>0">
    <r-data-row class="clr-row" *ngFor="let result of results; let listaIndex=index" (click)="openEncomenda(result.id)">
      <div class="clr-col-lg-1 fontheavy">
        {{result.id}}
      </div>
      <div class="clr-col-lg-2">
        Prazo: {{result.previsao_entrega}}
      </div>
      <div class="clr-col-lg-5">
        {{result.qty}} x {{result.artigo_descricao}} {{result.artigo_marca}}
        {{result.artigo_modelo}}
      </div>
      <div class="clr-col-lg-2">
        Orç: {{result.orcamento | currency: 'EUR'}}
      </div>
      <div class="clr-col-lg-2">
        {{result.estado}}
      </div>
    </r-data-row>
  </div>
</div>