<h2>Pesquisar encomendas</h2>

<div>
  <form clrForm clrLayout="vertical" class="clr-row" [formGroup]="encomendasSearchForm">
    <div class="clr-col-lg-3">
      <clr-input-container>
        <label>Cliente</label>
        <input clrInput placeholder="cliente..." (click)="clientesSearchModal.open()" formControlName="cliente" />
      </clr-input-container>
    </div>
    <div class="clr-col-lg-3">
      <clr-select-container>
        <label>Estado</label>
        <select clrSelect name="estado" formControlName="estado">
          <option *ngFor="let estado of estados" [value]=estado>{{estado}}</option>
        </select>
      </clr-select-container>
    </div>
    <div class="clr-col-lg-3">
      <clr-input-container>
        <label>Pesquisar</label>
        <input clrInput placeholder="digita algo..." formControlName="input" (keydown.enter)="searchEncomenda(encomendasSearchForm.value.input,
                encomendasSearchForm.value.estado,
                encomendasSearchForm.value.cliente)" autofocus />
      </clr-input-container>
    </div>
    <div class="clr-col-lg-3">
      <button type="submit" class="btn btn-primary" (click)="searchEncomenda(encomendasSearchForm.value.input,
              encomendasSearchForm.value.estado,
              encomendasSearchForm.value.cliente)"><clr-icon shape="search"></clr-icon> Pesquisar</button>
    </div>
  </form>
</div>

<h4>Resultados:</h4>
<div *ngIf="loading">
  <span class="spinner spinner-inline">
  </span>
  <span>
    A carregar dados...
  </span>
</div>

<div *ngIf="results">
  <div *ngIf="results.length===0">Nenhum resultado encontrado para esses parametros...</div>
  <div *ngIf="results.length>0">
    <r-data-row class="clr-row" *ngFor="let result of results; let listaIndex=index" (click)="openEncomenda(result.id)">
      <div class="clr-col-lg-1 fontheavy">
        {{result.id}}
      </div>
      <div class="clr-col-lg-2">
        Prazo: {{result.previsao_entrega}}
      </div>
      <div class="clr-col-lg-5">
        {{result.qty}} x {{result.artigo_descricao}} {{result.artigo_marca}}
        {{result.artigo_modelo}}
      </div>
      <div class="clr-col-lg-2">
        Orç: {{result.orcamento | currency: 'EUR'}} <span *ngIf="!result.orcamento">não tem</span>
      </div>
      <div class="clr-col-lg-2">
        {{result.estado}}
      </div>
    </r-data-row>
  </div>
</div>

<app-clientes-pesquisar-modal></app-clientes-pesquisar-modal>