<clr-wizard
  #wizard
  [(clrWizardOpen)]="isModalOpen"
  clrWizardSize="xl"
  (clrWizardOnFinish)="addEncomenda(wizardEncomendaForm.value)"
>
  <clr-wizard-title>Encomendar Artigo</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancelar</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Voltar</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Seguinte</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Terminar</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Escolher Artigo</ng-template>
    <form
      class="sticky"
      [formGroup]="wizardArtigoSearchForm"
      (ngSubmit)="searchArtigo(wizardArtigoSearchForm.value.input)"
    >
      <div class="clr-row">
        <div class="clr-col-12 padding-bottom-05">
          <input
            *ngIf="isModalOpen"
            autofocus
            type="text"
            class="clr-input wd-100"
            placeholder="Digita algo..."
            name="input"
            formControlName="input"
          />
        </div>
      </div>
    </form>

    <h4>Resultados:</h4>

    <app-artigo-row-list
      [artigos$]="results$"
      (rowClick)="selectArtigo($event)"
    ></app-artigo-row-list>
  </clr-wizard-page>

  <clr-wizard-page
    #wizardPageTwo
    [clrWizardPageNextDisabled]="!wizardEncomendaForm.valid"
  >
    <ng-template clrPageTitle>Editar Encomenda</ng-template>
    <div class="clr-row">
      <div class="clr-col-sm-2">Artigo:</div>
      <div class="clr-col">
        {{ wizardEncomendaForm?.value.artigo_descricao }}
        {{ wizardEncomendaForm?.value.artigo_marca }}
        {{ wizardEncomendaForm?.value.artigo_modelo }}
      </div>
    </div>
    <form [formGroup]="wizardEncomendaForm">
      <div class="clr-row">
        <div class="clr-col-sm-2">Observação:</div>
        <div class="clr-col">
          <input
            type="text"
            class="clr-input wd-100"
            placeholder=""
            name="observacao"
            formControlName="observacao"
          />
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-sm-2">Prazo:*</div>
        <div class="clr-col">
          <input
            type="date"
            class="clr-input wd-100"
            placeholder=""
            name="previsao_entrega"
            formControlName="previsao_entrega"
          />
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-sm-2">Orçamento:</div>
        <div class="clr-col">
          <input
            type="number"
            class="clr-input wd-100"
            placeholder=""
            name="orcamento"
            formControlName="orcamento"
          />
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-sm-2">Fornecedor:</div>
        <div class="clr-col">
          <input
            type="text"
            class="clr-input wd-100"
            placeholder=""
            name="fornecedor"
            formControlName="fornecedor"
          />
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-sm-2">Qty:*</div>
        <div class="clr-col">
          <input
            type="number"
            class="clr-input wd-100"
            placeholder=""
            name="qty"
            formControlName="qty"
          />
        </div>
      </div>
    </form>
  </clr-wizard-page>
</clr-wizard>
