<div class="clr-row">
  <div class="clr-col">
    <h5>Encomendas</h5>
    <p>👷 Em construção</p>
    <!--
    <div class="card" *ngFor="let encomenda of encomendas">
      <div class="card-block">
        <div class="card-text">
          <p>3 x Modulo Iphone 6 Preto</p>
          <button class="btn btn-sm btn-link">abrir</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success btn-sm">Comprado</button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm" clrDropdownTrigger>
            mais acções
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <button type="button" clrDropdownItem>Esgotado</button>
            <button type="button" clrDropdownItem>Chega em 30 dias</button>
            <button type="button" clrDropdownItem>Anular</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    -->
  </div>
</div>