<r-data-row class="clr-row" *ngFor="let encomenda of encomendas$ | async; let listaIndex=index"
  (click)="openEncomenda(encomenda.id)">
  <div class="clr-col-lg-1 fontheavy">
    {{encomenda.id}}
  </div>
  <div class="clr-col-lg-2">
    Prazo: {{encomenda.previsao_entrega}}
  </div>
  <div class="clr-col-lg-5">
    {{encomenda.qty}} x {{encomenda.artigo_descricao}} {{encomenda.artigo_marca}}
    {{encomenda.artigo_modelo}}
  </div>
  <div class="clr-col-lg-2">
    Orç: {{encomenda.orcamento | currency: 'EUR'}}
  </div>
  <div class="clr-col-lg-2">
    {{encomenda.estado}}
  </div>
</r-data-row>